html{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 50px;
        background: darkgray;
}

body{
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: #e5e7eb;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
